body {
  background-color: wheat;
}

.pink {
  width: 1000px;
  height: auto;
}

li .pad {
  margin-top: 20px;
}

.box {
  border: 5px solid black;
  height: 200px;
  width: 300px;
  padding: 100px;
  box-sizing: border-box;
  background-color: chartreuse;
  display: inline-block;
  margin-left: 100px;
  text-align: center;
}

.boxx {
  border: 5px solid black;
  height: 200px;
  width: 300px;
  padding: 100px;
  box-sizing: border-box;
  background-color: orchid;
  display: inline-block;
  margin-left: 100px;
  text-align: center;
}

.boxxx {
  border: 5px solid black;
  height: 200px;
  width: 300px;
  padding: 100px;
  box-sizing: border-box;
  background-color: red;
  display: inline-block;
  margin-left: 100px;
  text-align: center;
}
